    <div class="container-fluid services">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
          <i class="fa fa-globe" aria-hidden="true"></i>
          <h4>CONNECT NOW</h4>
          <p>Trouvez et contactez un réceptif en direct selon sa destination  et son expertise</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <i class="fa fa-users" aria-hidden="true"></i>
          <h4>PLATEFORME GIR</h4>
          <p>Distribution B2B de vos départs GIR</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <i class="fa fa-puzzle-piece" aria-hidden="true"></i>
          <h4>PUZZLE</h4>
          <p>La boite à outils dédiée aux professionnels du voyage</p>
        </div>
        <a class="btn btn-primary btn-lg">Start now</a>
      </div>
    </div>
