<%= partial "layouts/services" %>

<div id="manifeste" class= "container-fluid manifeste">
  <h2>Manifeste</h2>
  <%= partial "layouts/manifeste" %>
</div>

<div id="team" class="container-fluid team">
  <h2>Team</h2>
</div>

