<div id="team" class=" container-fluid team-tom">
  <div class=row>
    <div class="col-xs-12 col-sm-4">
      <div class="photo-team">
        <%= image_tag "tom.jpg" %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-sm-offset-1">
    <div class="team-description">
        <h4>Thomas Loubert</h4>
        <p>Après des études supérieures et un diplôme en école de commerce, j’ai intégré le groupe Terra qui grandissait en Amérique du Sud. <br> J’y retrouvais l’esprit tribal qui régnait au sein de ma famille. <br>
          <br>
          Pendant 3 ans, j’allais gérer le département opérations de Terra Andina Pérou, avant de diriger Terra Caribea au Costa Rica, les 3 années suivantes. <br>
          <br>
          Je suis devenu associé de Terra Group et j’ai fondé en 2013 un réceptif, Terra Nossa, dans nordeste du Brésil. <br>
          <br>
          En 2015, j’ai assisté à une réunion de réceptifs du monde entier et j’ai fait le lien avec le projet de Fabrice. <br>
          <br>
          J'aime le monde des start-ups, l’innovation technologique, la prise de risque. <br>
          <br>
          Cet événement, couplé à mon goût de l’aventure partagée, a été déclencheur dans le lancement de Togezer. <br>
          <br>
          Je suis convaincu que mon avenir, notre avenir, se jouera dans une plateforme collaborative et dans l’animation de la bande de dingues que nous souhaitons réunir dans cette communauté/fédération. <br>
          <br>
          "Ils ne savaient pas que c'était impossible, alors ils l'ont fait !" <br> Mark Twain <br>
        </p>
      </div>
      </div>
    </div>
  </div>


