<div id="contact" style="background-image: linear-gradient(-225deg, rgba(60,60,60,0.4) 0%, rgba(60,60,60,0.4) 50%), url(<%= image_path "contact.jpg" %>)"">
  <div class="container" style="opacity:1">
    <div class="row">
      <h2>Contact</h2>
        <div class="col-xs-12 col-sm-10 col-md-6">
          <div class="contact-chatbot">
            <h4> Si vous avez des questions, <br>n'hésitez pas à demander à Z, notre chatbot </h4>
              <div class="image-chatbot"><img src="images/chat.png" onclick="window.open('https://www.messenger.com/login.php?next=https%3A%2F%2Fwww.messenger.com%2Ft%2F496274630497800%2F%3Fmessaging_source%3Dsource%253Apages%253Amessage_shortlink');"onclick></div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-10 col-md-6">
          <div class="contact-coordonnees">
            <ul>
              <li><h4>Nos coordonnées</h4></li>
              <li><i class="fa fa-envelope" aria-hidden="true"></i>  hello@togezer.travel</li>
              <li><i class="fa fa-mobile" aria-hidden="true"></i>  +33 7 85 81 69 97</li>
              <li><i class="fa fa-skype" aria-hidden="true"></i>  togezer.travel</li>
            </ul>
          </div>
        </div>

        <div class="col-xs-12 col-sm-10 col-md-6">
          <div class="facebook-contact">
            <ul>
              <li onclick="window.open('https://www.facebook.com/groups/togezerfamily/');"onclick><i class="fa fa-facebook-square" aria-hidden="true"></i>  Rejoignez le Togezer Club</li>
            </ul>
          </div>
        </div>
    </div>
  </div>
</div>


