<div id="manifeste" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.4) 50%), url(<%= image_path "musique.jpg" %>)"">

  <h2>Notre manifeste</h2>
  <p>
    Les caravanes, les nomades, les voyages, ont de tout temps rapproché les peuples de différentes cultures. <br> Tout en permettant les échanges commerciaux, les caravanes tenaient une place essentielle dans la diffusion des biens, mais aussi des connaissances, des idées. <br>
    <br>
    Le voyage pousse à la rencontre de l’autre, et à une meilleure compréhension du monde. <br>
    <br>
    Le web est la caravane de notre siècle. <br>
    <br>
    Cependant, le numérique ne remplacera jamais la vraie rencontre nécessaire à l’émergence d’une confiance, ni le voyage sur le terrain. Mais il peut faciliter la rencontre, et améliorer le voyage. <br>
    <br>
    La technologie au service du voyage. C’est notre première conviction. <br>
    <br>
    Les réceptifs sont en général des voyageurs, qui ont transformé leur rêve de gosse en une activité économique. C’est un point commun que partagent souvent les professionnels du tourisme. <br>
    <br>
    Nous sommes convaincus que ces deux mondes sont faits pour s’entendre et que le tandem DMC-voyagiste peut-rester performant. L’un est logisticien et connaît mieux que quiconque la destination. L’autre connaît mieux que quiconque le voyageur, qui nous fait tous vivre. <br>
    <br>
    C’est notre pari, c’est TogeZer. <br>
    <br>
    Organiser des rencontres entre ces partenaires pour créer une relation de confiance. <br> Fournir une boite à outils aux agents de voyages, pour leur permettre d'élaborer rapidement et facilement un voyage de qualité pour leur client. <br>
    <br>
    Pour que nous réussisions ce projet, il nous faut tout d’abord rassembler une communauté de réceptifs de qualité. Nous serons exigeants. <br>
    <br>
    Parallèlement nous réaliserons des outils irréprochables, en particulier un constructeur de devis et une interface de gestion destinés aux voyagistes. Nous investissons actuellement dans cette technologie. <br> Togezer a pour vocation de fédérer des réceptifs indépendants au sein d’une plateforme commune et non exclusive à destination des voyagistes. <br>
    <br>
    Notre caravane de réceptifs vient tous les ans chez vous, à votre rencontre. <br>
    See you on the road. <br>
    <br>
    Come TogeZer!
  </p>
</div>
