<!-- <div id="manifeste" style="background-image: linear-gradient(-225deg, rgba(209,217,0,1) 0%, rgba(0,145,104,1) 50%)">
  <div class="manifeste-text" style="opacity:1">

    <h2 class="ml6">
      <span class="text-wrapper">
        <span class="letters">Notre liberté</span>
      </span>
    </h2>

    <p>
      Les caravanes, les nomades, les voyages, ont de tout temps rapproché les peuples de différentes cultures. <br> Tout en permettant les échanges commerciaux, les caravanes tenaient une place essentielle dans la diffusion des biens, mais aussi des connaissances, des idées. <br>
      <br>
      Le voyage pousse à la rencontre de l’autre, et à une meilleure compréhension du monde. <br>
      <br>
      Le web est la caravane de notre siècle. <br>
      <br>
      Cependant, le numérique ne remplacera jamais la vraie rencontre nécessaire à l’émergence d’une confiance, ni le voyage sur le terrain. Mais il peut faciliter la rencontre, et améliorer le voyage. <br>
      <br>
      La technologie au service du voyage. C’est notre première conviction. <br>
      <br>
      Les réceptifs sont en général des voyageurs, qui ont transformé leur rêve de gosse en une activité économique. C’est un point commun que partagent souvent les professionnels du tourisme. <br>
      <br>
      Nous sommes convaincus que ces deux mondes sont faits pour s’entendre et que le tandem DMC-voyagiste peut-rester performant. L’un est logisticien et connaît mieux que quiconque la destination. L’autre connaît mieux que quiconque le voyageur, qui nous fait tous vivre. <br>
      <br>
      C’est notre pari, c’est TogeZer. <br>
      <br>
      Organiser des rencontres entre ces partenaires pour créer une relation de confiance. <br> Fournir une boite à outils aux agents de voyages, pour leur permettre d'élaborer rapidement et facilement un voyage de qualité pour leur client. <br>
      <br>
      Pour que nous réussisions ce projet, il nous faut tout d’abord rassembler une communauté de réceptifs de qualité. Nous serons exigeants. <br>
      <br>
      Parallèlement nous réaliserons des outils irréprochables, en particulier un constructeur de devis et une interface de gestion destinés aux voyagistes. Nous investissons actuellement dans cette technologie. <br> Togezer a pour vocation de fédérer des réceptifs indépendants au sein d’une plateforme commune et non exclusive à destination des voyagistes. <br>
      <br>
      Notre caravane de réceptifs vient tous les ans chez vous, à votre rencontre. <br>
      See you on the road. <br>
      <br>
      Come TogeZer!
    </p>
  </div>
</div> -->

<div id="manifeste2">

  <div class="manifeste-text2" style="opacity:1">

    <h2 class="ml6">
      <span class="text-wrapper">
        <span class="letters">NOTRE MANIFESTE</span>
      </span>
    </h2>

    <p>
      Les caravanes, les nomades, les voyages, ont de tout temps rapproché les peuples de différentes cultures. <br> Tout en permettant les échanges commerciaux, les caravanes tenaient une place essentielle dans la diffusion des biens, mais aussi des connaissances, des idées. <br>
      <br>
      Le voyage pousse à la rencontre de l’autre, et à une meilleure compréhension du monde. <br>
      <br>
      <span class="important">Le web est la caravane de notre siècle.</span> <br>
      <br>
      Cependant, le numérique ne remplacera jamais la vraie rencontre nécessaire à l’émergence d’une confiance, ni le voyage sur le terrain. Mais il peut faciliter la rencontre, et améliorer le voyage. <br>
      <br>
      La technologie au service du voyage. C’est notre première conviction. <br>
      <br>
      Les réceptifs sont en général des voyageurs, qui ont transformé leur rêve de gosse en une activité économique. C’est un point commun que partagent souvent les professionnels du tourisme. <br>
      <br>
      Nous sommes convaincus que ces deux mondes sont faits pour s’entendre et que le tandem DMC-voyagiste peut-rester performant. L’un est logisticien et connaît mieux que quiconque la destination. L’autre connaît mieux que quiconque le voyageur, qui nous fait tous vivre. <br>
      <br>
      <span class="important">C’EST NOTRE PARI, C'EST TOGEZER ! </span><br>
      <br>
      Organiser des rencontres entre ces partenaires pour créer une relation de confiance. <br> Fournir une boite à outils aux agents de voyages, pour leur permettre d'élaborer rapidement et facilement un voyage de qualité pour leur client. <br>
      <br>
      Pour que nous réussisions ce projet, il nous faut tout d’abord rassembler une communauté de réceptifs de qualité. Nous serons exigeants. <br>
      <br>
      Parallèlement nous réaliserons des outils irréprochables, en particulier un constructeur de devis et une interface de gestion destinés aux voyagistes. Nous investissons actuellement dans cette technologie. <br> Togezer a pour vocation de fédérer des réceptifs indépendants au sein d’une plateforme commune et non exclusive à destination des voyagistes. <br>
      <br>
      Notre caravane de réceptifs vient tous les ans chez vous, à votre rencontre. <br>
      See you on the road. <br>
      <br>
      <span class="important">COME TOGEZER!</span>
    </p>
  </div>
</div>

<!--
<div id="manifeste" style="background-image: linear-gradient(-225deg, rgba(80,80,80,0.4) 0%, rgba(80,80,80,0.4) 50%), url(<%= image_path "water.jpg" %>)"">

  <div class="manifeste-text" style="opacity:1">
    <h2 class="ml6">
      <span class="text-wrapper">
        <span class="letters">Notre liberté</span>
      </span>
    </h2>

    <p>
      Les caravanes, les nomades, les voyages, ont de tout temps rapproché les peuples de différentes cultures. <br> Tout en permettant les échanges commerciaux, les caravanes tenaient une place essentielle dans la diffusion des biens, mais aussi des connaissances, des idées. <br>
      <br>
      Le voyage pousse à la rencontre de l’autre, et à une meilleure compréhension du monde. <br>
      <br>
      Le web est la caravane de notre siècle. <br>
      <br>
      Cependant, le numérique ne remplacera jamais la vraie rencontre nécessaire à l’émergence d’une confiance, ni le voyage sur le terrain. Mais il peut faciliter la rencontre, et améliorer le voyage. <br>
      <br>
      La technologie au service du voyage. C’est notre première conviction. <br>
      <br>
      Les réceptifs sont en général des voyageurs, qui ont transformé leur rêve de gosse en une activité économique. C’est un point commun que partagent souvent les professionnels du tourisme. <br>
      <br>
      Nous sommes convaincus que ces deux mondes sont faits pour s’entendre et que le tandem DMC-voyagiste peut-rester performant. L’un est logisticien et connaît mieux que quiconque la destination. L’autre connaît mieux que quiconque le voyageur, qui nous fait tous vivre. <br>
      <br>
      C’est notre pari, c’est TogeZer. <br>
      <br>
      Organiser des rencontres entre ces partenaires pour créer une relation de confiance. <br> Fournir une boite à outils aux agents de voyages, pour leur permettre d'élaborer rapidement et facilement <br>un voyage de qualité pour leur client. <br>
      <br>
      Pour que nous réussisions ce projet, il nous faut tout d’abord rassembler une communauté de réceptifs de qualité. Nous serons exigeants. <br>
      <br>
      Parallèlement nous réaliserons des outils irréprochables, en particulier un constructeur de devis et une interface de gestion destinés aux voyagistes. Nous investissons actuellement dans cette technologie. <br> Togezer a pour vocation de fédérer des réceptifs indépendants au sein d’une plateforme commune et non exclusive à destination des voyagistes. <br>
      <br>
      Notre caravane de réceptifs vient tous les ans chez vous, à votre rencontre. <br>
      See you on the road. <br>
      <br>
      Come TogeZer!
    </p>
  </div>
</div>
 -->
<!-- <div id="manifeste" style="background-image: linear-gradient(-225deg, rgba(80,80,80,0.4) 0%, rgba(80,80,80,0.4) 50%), url(<%= image_path "musique.jpg" %>)"">

  <div class="manifeste-text" style="opacity:1">

    <h2>Notre liberté</h2>
    <p>
      Les caravanes, les nomades, les voyages, ont de tout temps rapproché les peuples de différentes cultures. <br> Tout en permettant les échanges commerciaux, les caravanes tenaient une place essentielle dans la diffusion des biens, mais aussi des connaissances, des idées. <br>
      <br>
      Le voyage pousse à la rencontre de l’autre, et à une meilleure compréhension du monde. <br>
      <br>
      Le web est la caravane de notre siècle. <br>
      <br>
      Cependant, le numérique ne remplacera jamais la vraie rencontre nécessaire à l’émergence d’une confiance, ni le voyage sur le terrain. Mais il peut faciliter la rencontre, et améliorer le voyage. <br>
      <br>
      La technologie au service du voyage. C’est notre première conviction. <br>
      <br>
      Les réceptifs sont en général des voyageurs, qui ont transformé leur rêve de gosse en une activité économique. C’est un point commun que partagent souvent les professionnels du tourisme. <br>
      <br>
      Nous sommes convaincus que ces deux mondes sont faits pour s’entendre et que le tandem DMC-voyagiste peut-rester performant. L’un est logisticien et connaît mieux que quiconque la destination. L’autre connaît mieux que quiconque le voyageur, qui nous fait tous vivre. <br>
      <br>
      C’est notre pari, c’est TogeZer. <br>
      <br>
      Organiser des rencontres entre ces partenaires pour créer une relation de confiance. <br> Fournir une boite à outils aux agents de voyages, pour leur permettre d'élaborer rapidement et facilement un voyage de qualité pour leur client. <br>
      <br>
      Pour que nous réussisions ce projet, il nous faut tout d’abord rassembler une communauté de réceptifs de qualité. Nous serons exigeants. <br>
      <br>
      Parallèlement nous réaliserons des outils irréprochables, en particulier un constructeur de devis et une interface de gestion destinés aux voyagistes. Nous investissons actuellement dans cette technologie. <br> Togezer a pour vocation de fédérer des réceptifs indépendants au sein d’une plateforme commune et non exclusive à destination des voyagistes. <br>
      <br>
      Notre caravane de réceptifs vient tous les ans chez vous, à votre rencontre. <br>
      See you on the road. <br>
      <br>
      Come TogeZer!
    </p>
  </div>
</div>
 -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
<script>
  // Wrap every letter in a span
$('.ml6 .letters').each(function(){
  $(this).html($(this).text().replace(/([^\x00-\x80]|\w)/g, "<span class='letter'>$&</span>"));
});

anime.timeline({loop: true})
  .add({
    targets: '.ml6 .letter',
    translateY: ["1.1em", 0],
    translateZ: 0,
    duration: 1200,
    delay: function(el, i) {
      return 50 * i;
    }
  }).add({
    targets: '.ml6',
    opacity: 0,
    duration: 3000,
    easing: "easeOutExpo",
    delay: 3000
  });


</script>
