<div class="team">
  <h2>Une équipe passionnée</h2>

  <div class="onglet container">
    <ul class="nav nav-pills nav-justified">
      <li class="active"><a href="#Team" data-toggle="tab">Team</a></li>
      <li><a href="#Caravane" data-toggle="tab">Caravane</a></li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane fade in active" id="Team">
        <p>Test111111</p>
      </div>
      <div class="tab-pane fade" id="Caravane">
        <div class="container card-video">
          <div class="row">
            <div class="col-xs-12 col-sm-4">
              <div class="card">
                <div class="caravane-video"><iframe width="360" height="175" src="https://www.youtube.com/embed/8AF-Sm8d8yk"></iframe></div>
                <div class="card-footer">
                  <p>Nom de la vidéo</p>
                </div>
                <!-- <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
                <a class="card-link" href="#" ></a> -->
              </div>
            </div>

            <div class="col-xs-12 col-sm-4">
              <div class="card">
                <div class="caravane-video"><iframe width="360" height="175" src="https://www.youtube.com/embed/8AF-Sm8d8yk"></iframe></div>
                <div class="card-footer">
                  <p>Nom de la vidéo</p>
                </div>
                <!-- <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
                <a class="card-link" href="#" ></a> -->
              </div>
            </div>

            <div class="col-xs-12 col-sm-4">
              <div class="card">
                <div class="caravane-video"><iframe width="360" height="175" src="https://www.youtube.com/embed/8AF-Sm8d8yk"></iframe></div>
                <div class="card-footer">
                  <p>Nom de la vidéo</p>
                </div>
                <!-- <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
                <a class="card-link" href="#" ></a> -->
              </div>
            </div>
  </div>
</div>
      </div>
    </div>
  </div>

</div>

