<div class="team">
  <h2>Qui sommes-nous?</h2>
    <div class="onglet container">
      <ul class="nav nav-pills nav-justified ">
          <li class="active"><a href="#en-cours" data-toggle="tab">Notre équipe</a></li>
          <li><a href="#done" data-toggle="tab">Notre caravane</a></li>
          </ul>
    </div>

      <div class= "tab-content">
          <div class="tab-pane fade in active" id="team">
          </div>

            <div class="tab-pane fade" id="caravane">
            </div>

      </div>
</div>
