<div class="team">
  <h2>Une équipe passionnée</h2>

  <div class="onglet container">
    <ul class="nav nav-pills nav-justified">
      <li class="active"><a href="#Team" data-toggle="tab">Notre team</a></li>
      <li><a href="#Caravane" data-toggle="tab">La caravane</a></li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane fade in active" id="Team">
        <div class="container card-team">
          <div class="row">
            <div class="card-tom">
              <div class="col-xs-12 col-sm-4">
                <div class="card photo-team" style="background-image: url(<%= image_path "tom.jpg" %>)"">
                </div>
                  <div class="card-footer job tom-job">
                    <ul>
                      <li class="title">Co-founder <br> & crazy business development manager</li>
                      <li class="linkedin-team" onclick="window.open('https://www.linkedin.com/in/thomas-loubert-54977277/');"onclick><i class="fa fa-linkedin-square" aria-hidden="true"></i>  Thomas Loubert</li>
                      <li class="mail"><a href="mailto:thomas@togezer.travel">thomas@togezer.travel</a></li>
                    </ul>
                  </div>
              </div>

              <div class="col-xs-12 col-sm-8">
                <div class="team-description tom-presentation">
                  <p>Après des études supérieures et un diplôme en école de commerce, j’ai intégré le groupe Terra qui grandissait en Amérique du Sud. <br> J’y retrouvais l’esprit tribal qui régnait au sein de ma famille. <br> Pendant 3 ans, j’allais gérer le département opérations de Terra Andina Pérou, avant de diriger Terra Caribea au Costa Rica, les 3 années suivantes. Je suis devenu associé de Terra Group et j’ai fondé en 2013 un réceptif, Terra Nossa, dans nordeste du Brésil. <br> En 2015, j’ai assisté à une réunion de réceptifs du monde entier et j’ai fait le lien avec le projet de Fabrice. J'aime le monde des start-ups, l’innovation technologique, la prise de risque. <br>Cet événement, couplé à mon goût de l’aventure partagée, <br>a été déclencheur dans le lancement de Togezer. <br> Je suis convaincu que mon avenir, notre avenir, se jouera dans une plateforme collaborative et dans l’animation de la bande de dingues que nous souhaitons réunir dans cette communauté/fédération. <br>
                  <br>
                  <p class="citation">"Ils ne savaient pas que c'était impossible, alors ils l'ont fait !" Mark Twain</p></p>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="card-fabrice">
              <div class="col-xs-12 col-sm-8">
                <div class="team-description fabrice-presentation">
                  <p>J’ai grandi dans le sport co de compétition où je me suis épanoui. Mon goût pour la technologie et les grands espaces me conduiront à des études de géophysicien. <br> Après quelques années d’aventure à ne jamais trouver de pétrole, je démissionne pour monter en 1998 un réceptif de voyage d'aventure en Bolivie, <br>puis un réceptif de voyage sur-mesure au Brésil. <br> Ma foi dans la force du collectif, le goût de l'aventure partagée, l’amitié qui me lie à mes associé(e)s m’ont alors conduit à la co-création d’un réseau de réceptifs: <br>Terra Group, sur le mode « tribal ». <br> Puis l’ingénieur reprend le dessus sur l’aventurier devenu papa, et je fonde en 2008 Toogonet : un ERP online spécialisé dans le tourisme réceptif. Rien n’existait alors, qui soit adapté à nos besoins, et nous souhaitions des outils pour éliminer les copier/coller fastidieux. Je découvre le monde "fabuleux" des réceptifs dont je partage le même ADN. <br> J'ai désormais les mains dans le moteur, à la fois du tourisme et à la fois de la techno... <br> La prochaine étape est naturellement Togezer : rassembler les réceptifs de terrain avec les concepteurs de beaux voyages, et mettre la technologie au service <br>des professionnels de notre industrie. <br> Sans le déclic de Thomas, Togezer n’existerait pas. <br> Alors qu’ensemble, rien n’est sûr mais tout est possible... <br>
                  <br><p class="citation">"Fais de la moutarde mon fils, mais fais en de la bonne!"</p></p>
                </div>
              </div>

              <div class="col-xs-12 col-sm-4 fabrice">
                <div class="card photo-team" style="background-image: url(<%= image_path "fabrice.jpg" %>)"">
                </div>
                  <div class="card-footer job fabrice-job">
                    <ul>
                      <li>Co-founder & ex-surfer</li>
                      <li class="linkedin-team" onclick="window.open('https://www.linkedin.com/in/fabrice-pawlak-22919611/');"onclick><i class="fa fa-linkedin-square" aria-hidden="true"></i>  Fabrice Pawlak</li>
                      <li class="mail"><a href="mailto:fabrice@togezer.travel">fabrice@togezer.travel</a></li>
                    </ul>
                  </div>
                </div>
              </div>
          </div>

        <div class="row">
            <div class="card-sarah">
              <div class="col-xs-12 col-sm-4">
                <div class="card photo-team" style="background-image: url(<%= image_path "sarah.jpg" %>)"">
                </div>
                  <div class="card-footer job sarah-job">
                    <ul>
                      <li class="title">Marketing, events & colorful personality</li>
                      <li class="linkedin-team" onclick="window.open('https://www.linkedin.com/in/sarah-berth%C3%A9-36639694/');"onclick><i class="fa fa-linkedin-square" aria-hidden="true"></i>  Sarah Berthé</li></li>
                      <li class="mail"><a href="mailto:sarah@togezer.travel">sarah@togezer.travel</a></li>
                    </ul>
                  </div>
              </div>
            </div>

              <div class="col-xs-12 col-sm-8">
                <div class="team-description sarah-presentation">
                  <p>Fraîchement diplômée d'un MBA spécialisé tourisme à l'ESCAET, c'est suite à un stage réalisé chez Toogonet et à une précédente expérience chez le Tour Opérateur sur mesure Roots Travel, que je prends conscience que la technologie peut être un véritable allié <br>pour les professionnels du tourisme. <br> De par ces expériences, je me suis spécialisée dans la gestion de projet technologique, lors de ma dernière année d'étude. <br> J'ai rejoins Fabrice et Thomas il y a quelque mois , dans nos bureaux à Marseille. <br> Togezer est un projet qui m'inspire et me motive. <br>C'est un mariage parfait entre l'humain et la technologie. <br>
                    <br> <p class="citation">"C'est dingue ce qu'on peut faire avec  aussi peu de moyens" . L'âne dans Shrek</p></p>
                </div>
              </div>
            </div>
       </div>
     </div>


      <div class="tab-pane fade" id="Caravane">
        <div class="container card-video">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4">
<!--               <div class="card"> -->
              <div class="caravane-video"><iframe src="https://player.vimeo.com/video/224353879" width="360" height="175" frameborder="0"></iframe>
              </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="card"><img src="images/photo2.jpg" width="360" height="175" >
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="caravane-video"><iframe src="https://player.vimeo.com/video/224246730" width="360" height="175" frameborder="0"></iframe>
                </div>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4">
<!--               <div class="card"> -->
              <div class="caravane-video"><iframe src="https://player.vimeo.com/video/224353879" width="360" height="175" frameborder="0"></iframe>
              </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="caravane-video"><iframe src="https://player.vimeo.com/video/206225244" width="360" height="175" frameborder="0"></iframe>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="caravane-video"><iframe src="https://player.vimeo.com/video/224246730" width="360" height="175" frameborder="0"></iframe>
                </div>
            </div>
          </div>
<!--         <div class="caravane-explication">
          <div class="row">
            <h3>La caravane Togezer, c'est ...</h3>
            <ul>
              <li><p>Plus de 1 584 km parcouru,   </p></li>
              <li><p>pendant 5 semaines,</p></li>
              <li><p>à travers 5 pays !</p></li>
            </ul>

          </div>
        </div> -->
      </div>

  </div>

</div>

