.card-video {
  padding-top: 50px;
  height: 80vh;
 }


.card {
  height: 175px;
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
}
// .caravane-video :hover {
//   margin-top: -15px;
// }

.card-team {
  padding-bottom: 50px;
}
.caravane-explication {
  text-align: center;
  h3 {
    padding: 20px 0px;

  }
li {
  list-style: none;
  font-weight: bold;
  font-size: 20px;
}
}

.card-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #F4F4F4;
  background-color: white;
  color: black;
}

.card-footer p {
  font-family: $body-font;
  // margin: 15px 0px;
}

@media (max-width: 1000px) {
   .caravane-explication {
     display: none;
   }
   .caravane-video {
    padding-bottom: 30px;
   }
   .onglet {
    margin-bottom: 50px;
   }
 }

// .card-user {
//   position: absolute;
//   right: 10px;
//   top: 10px;
//   width: 40px;
//   border-radius: 50%;
// }
// .card-category {
//   position: absolute;
//   top: 10px;
//   left: 10px;
//   font-size: 15px;
//   text-transform: uppercase;
// }
// .card-description {
//   position: absolute;
//   bottom: 10px;
//   left: 10px;
//   border: red;
// }
// .card-description h2 {
//   font-size: 24px;
// }
// .card-description p {
//   font-size: 14px;
//   opacity: 0.7;
//   font-weight: lighter;
// }
// .card-link {
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   right: 0;
//   width: 100%;
//   z-index: 2;
//   background: black;
//   opacity: 0;
// }
// .card-link:hover {
//   opacity: 0.1;
// }
// @media (max-width: 750px) {
//   .caravane-video :hover {
//     margin-top: 0px;
//   }
// }
