#contact {
  background-color: white;
  background-size: cover;
  background-position: center;
  height: 85vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  text-align: center;
  // padding: 20px;
  // padding-bottom: 30px;
  font-size: 17px;
  h2 {
    padding-bottom: 50px;
    color: black;
  }
  li {
     list-style: none;
     color: black;
  }
  p {
    margin-bottom: 50px;
    color: black;
  }
}

.image-chatbot img {
  height: 280px;
  opacity: 1;
}
.image-chatbot :hover {
  opacity: 0.6;
}

.contact-chatbot {
  padding-top: 50px;
}

.contact-chatbot h4 {
  color: black;
  line-height: 30px;
}
.contact-coordonnees {
  text-align: center;
  border: 1px solid #E6E6E6;
  box-shadow: 1px -1px 3px #E6E6E6, -1px 1px 3px #E6E6E6;
  padding: 10px;
}

.contact-coordonnees h4 {
  padding-bottom: 30px;
  font-size: 25px;
  color: black;
  text-decoration: underline;
}

.contact-coordonnees i {
    font-size: 20px;
    color: #1783BD;
    margin-bottom: 20px;
}

.facebook-contact {
  font-size: 25px;
  padding-top: 30px;
}

.facebook-contact i {
  color: #3B50A2;
  font-size: 30px;
  padding-top: 20px;
  &:hover {
  opacity: 0.6;
}
}
.contact-coordonnees a {
  color: black;
}

.contact-coordonnees a:hover {
    color: #1783BD;
    text-decoration: none;
  }
@media (max-width: 990px) {
  .contact-chatbot {
    display: none;
  }
  .facebook-contact {
    padding-top: 20px;
  }

}
