#contact {
  background-color: $light-gray;
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 70px;
  padding-bottom: 30px;
  font-size: 17px;

  h2 {
    padding-bottom: 50px;
  }
  li {
     list-style: none;
  }
  p {
    margin-bottom: 50px;
  }
}
.image-chatbot :hover {
  opacity: 0.7;
}
.contact-coordonnees {
  text-align: center;
}

.contact-coordonnees h4 {
  padding-bottom: 30px;
  font-size: 25px;
}

.contact-coordonnees i {
    font-size: 20px;
    color: #1783BD;
    margin-bottom: 20px;
}

.facebook-contact {
  font-size: 25px;
  padding-top: 30px;
}

.facebook-contact i {
  color: #3B50A2;
  font-size: 30px;
  &:hover {
  opacity: 0.7;
}
}

