#contact {
  background-color: #F4F4F4;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  text-align: center;
  // padding: 20px;
  // padding-bottom: 30px;
  font-size: 17px;
  h2 {
    padding-bottom: 50px;
    color: white;
  }
  li {
     list-style: none;
     color: white;
  }
  p {
    margin-bottom: 50px;
    color: white;
  }
}

.image-chatbot img {
  height: 160px;
}
.image-chatbot :hover {
  opacity: 0.6;
}

.contact-chatbot {
  padding-top: 50px;
}

.contact-chatbot h4 {
  color: white;
  line-height: 30px;
}
.contact-coordonnees {
  text-align: center;
}

.contact-coordonnees h4 {
  padding-bottom: 30px;
  font-size: 25px;
  color: white;
  text-decoration: underline;
}

.contact-coordonnees i {
    font-size: 20px;
    color: #1783BD;
    margin-bottom: 20px;
}

.facebook-contact {
  font-size: 25px;
  padding-top: 30px;
}

.facebook-contact i {
  color: #3B50A2;
  font-size: 30px;
  padding-top: 20px;
  &:hover {
  opacity: 0.6;
}
}
.contact-coordonnees a {
  color: white;
}

.contact-coordonnees a:hover {
    color: #1783BD;
    text-decoration: none;
  }
@media (max-width: 990px) {
  .contact-chatbot {
    display: none;
  }
  .facebook-contact {
    padding-top: 20px;
  }

}
