.entire-site {
  width: 100%;
  overflow:hidden;
}

.home-global-container {
  background-size: cover !important;
}

#home {
  color: white;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  p {
    margin-top: 1.5em;
  }
  a {
    color: rgba(0,0,0,0.4);
    font-weight: bold;
    font-size: 16px;
  }
}

.ml15 {
  font-weight: 800;
  font-size: 3.8em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
}

.ml15 .word {
  display: inline-block;
  line-height: 1em;
}
.arrow {
  margin-top: 240px;
  font-size: 30px;
}

.arrow :hover{
  color: #1783BD;
  text-decoration: none;
  font-size: 40px;
  font-weight: bold;
}

@media (max-width: 750px) {
  .arrow  {
    margin-top: 200px;
  }
}
@media (max-width: 1000px) {
  .ml15 {
    width: 100%;
  }

}
