#home {
  background-color: red;
  color: white;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  p {
    margin-top: 1.5em;
  }
  a {
    color: rgba(0,0,0,0.4);
    font-weight: bold;
    font-size: 16px;
  }
}

.services {
  background-color: $light-gray;
  text-align: center;
  padding: 70px;
  padding-bottom: 50px;
  font-size: 17px;
  h2 {
    padding-bottom: 40px;
  }
  i {
    font-size: 40px;
    color: $brand-success;
    margin-bottom: 20px;
  }
  p {
    margin-bottom: 50px;
  }
}

.manifeste {
  border-radius: 5px;
  text-align: center;
  width: 100vw;
  padding: 70px 50px;
  margin: 20px auto;
  background-color: white;
  h2 {
    margin-top:0px;
  }
 p {
    font-size: 20px;
    padding: 5px 20px;
    margin-top: 30px;
}
}

