#home {
  color: white;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  p {
    margin-top: 1.5em;
  }
  a {
    color: rgba(0,0,0,0.4);
    font-weight: bold;
    font-size: 16px;
  }
}

.services {
  background-color: $light-gray;
  text-align: center;
  padding: 70px;
  padding-bottom: 50px;
  font-size: 17px;
  h2 {
    padding-bottom: 40px;
  }
  i {
    font-size: 40px;
    color: #1783BD;
    margin-bottom: 20px;
  }
  p {
    margin-bottom: 50px;
  }
}
