#manifeste {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding-bottom: 30px;
}

.manifeste-text {
  h2 {
    padding-top: 50px;
    color: white;
    opacity: 1;
  }
 p {
    font-size: 20px;
    padding: 0px 50px;
    margin-top: 30px;
    opacity: 1;
    color: white;

}
}

.ml6 {
  position: relative;
  // font-weight: 900;
  // font-size: 3.3em;
}

.ml6 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.ml6 .letter {
  display: inline-block;
  line-height: 1em;
}
