#manifeste {
  background-size: cover !important;
  border-radius: 15px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 30px;
  margin: 0px 20px;
  opacity: 0.9;
  background-repeat:no-repeat;
  h2 {
    margin-top: 0px;
    padding-top: 50px;
    color: black;
    opacity: 1;
    font-family: 'Handlee', cursive;
  }
 p {
    font-size: 22px;
    padding: 5px 50px;
    margin-top: 30px;
    opacity: 1;
    color: black;
    font-family: 'Handlee', cursive;
}
}
.manifeste-text {
  color: red;
}
