#manifeste {
  background-size: cover !important;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 30px;
  opacity: 0.9;
  h2 {
    margin-top: 0px;
    padding-top: 20px;
    color: black;
    opacity: 1;
  }
 p {
    font-size: 20px;
    padding: 5px 20px;
    margin-top: 30px;
    opacity: 1;
    color: black;
}
}

// .manifeste {
//   border-radius: 5px;
//   text-align: center;

//   background-color: white;

