.services {
  background-color: $light-gray;
  text-align: center;
  padding: 20px 35px;
  padding-bottom: 50px;
  font-size: 17px;
  h2 {
    padding-bottom: 20px;
    padding-top: 0px;
  }
  // i {
  //   font-size: 40px;
  //   color: #1783BD;
  //   margin-bottom: 20px;
  // }
}

.text-schema p {
    margin-bottom: 50px;

  }
.schema img {
  // width: 100%;
  background-position: center;
  height: 65vh;
  background-color: white;
}

.text-schema {
  background-color: white;
  margin-right: 25px;
  margin-left: 25px;
  font-size: 15px;
}
.text-schema p {
  padding: 20px;
  box-shadow: 0 2px 3px #DEDEDE;
}

.explication i {
  color: #009168;
  font-size: 50px;
  padding-bottom: 20px;
}
.bref li {
  list-style: none;
}

.bref  {
  padding-top: 20px;
}

@media (max-width: 1000px) {
  .schema img {
    width: 100%;
    height: auto;
  }
  .bref .video {
    width: 100%;
    margin-top: 10px;
  }
  .bref h4 {
    margin-top: 35px;
  }
}

@media (max-width: 768px) {
  .text-schema p {
    font-size: 18px;
  }
}

