.onglet {
  padding-top: 25px;
}

.team {
  background-color: #F4F4F4;
  padding-top: 15px;
  width: 100%;
  overflow: hidden;
}
.team h2 {
  text-align: center;

}
.card-team {
  padding-top: 50px;
}
.card-fabrice {
  padding-top: 50px;
}
.card-sarah {
  padding-top: 50px;
}


.photo-team {
  background-repeat: no-repeat;
  // background-size: 100% auto;
  // background-position: center;
  height: 250px;
  // width: 250px;
  padding: auto;
  border-radius: 10px;
}
  .fabrice {
    margin-top: 20px;
  }

.linkedin-team {
  i {
    color: #0070B9;
    font-size: 30px;
  }
}
.linkedin-team i:hover {
  opacity: 0.7;
}
.job {
  text-align: center;
  margin-top: 10px;
  border-radius: 10px;
}

.job ul {
  padding: 0px;
}

.job li {
  list-style: none;
  font-size: 15px;
  line-height: 20px;
  padding-top: 10px;
}
.tom-job {
  box-shadow: 1px -1px 3px #80BFE8, -1px 1px 3px #80BFE8;
  .title {
    line-height: 20px;
  }
}
.fabrice-job {
  box-shadow: 1px -1px 3px #009168, -1px 1px 3px #009168;
}
.sarah-job {
  box-shadow: 1px -1px 3px #D5DD00, -1px 1px 3px #D5DD00;
}

.mail a {
  color: black;
}
.mail a:hover {
    color: #1783BD;
    text-decoration: none;
  }

.card-footer p {
  font-family: $body-font;
  margin: 15px 0px;
}

.photo-caravane {
  height: 200px;
}

.team-description {
  background-color: white;
  padding: 15px;
  text-align: center;
  border-radius: 10px;
  font-size: 16px;
  // box-shadow: 0 1px 3px rgba(0,0,0,0.6);
}
.tom-presentation {
    box-shadow: 1px -1px 3px #80BFE8, -1px 1px 3px #80BFE8;
    margin-top: 5px;
}
.fabrice-presentation {
  box-shadow: 1px -1px 3px #009168, -1px 1px 3px #009168;
}
.sarah-presentation {
  box-shadow: 1px -1px 3px #D5DD00, -1px 1px 3px #D5DD00;
  margin-top: 25px;
}
.citation {
  font-style: italic;
}

@media (max-width: 768px) {
    .team-description {
        display: none;
        margin: 20px;
    }

    .photo-team {
      margin: 10px;
    }
    .job {
      margin: 10px;
    }
    .caravane-video {
      text-align: center;
    }
}

