<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fa fa-facebook" onclick="window.open('https://www.facebook.com/togezertravel/');"onclick></i></a>
    <a href="#"><i class="fa fa-linkedin" onclick="window.open('https://www.linkedin.com/company/10543664/');"onclick></i></a>
  </div>
  <div class="footer-copyright">Copyright - Agathe Loubert
  </div>
</div>

